<div class="row">
	<div class="col-md-12">
		<div class="panel editor-page-header-panel">
			<div class="panel-heading editor-page-header">
				<span class="config-name"><%= locale.common['SLD-editor'] + "    -    " + SLDconfigmodel.name %></span><span id="is-config-saved" class="hidden"> *</span>
		       	<h4 class="sld-editor-page-h4">
		       		<a class="userguide" href="sld_editor_user_guide_20151016.pdf" target="_blank">User guide</a>
		       		<span class="signout-list-page">
			         	<%=userName%>&nbsp;-&nbsp;<%= locale.common.logout%>
			         	<i class="fa fa-sign-out pull-right"></i>
			        </span>
		       	</h4>
			</div>
			<div class="panel-body editor-page-header-body">
					<h4 class="back-to-list"><i class="fa fa-chevron-left pull-left"></i><%= locale.buttons['backToSLDlist'] %></h4>
					<div class="sld-button-group">
						<button type="submit" class="btn btn-default save" title="Save all SLD config values"><%= locale.buttons['saveChanges'] %></button>
                        <input type="hidden" name="id" value="<%= SLDconfigmodel.id %>"/>
                        <button type="button" data-user-id="<%= SLDconfigmodel.id %>" class="btn btn-default cancel-changes" title="Reset all SLD config values"><%= locale.buttons['resetAll'] %></button>
                        <button type="button" class="btn btn-default wms-preview" data-id="<%=SLDconfigmodel.id%>"><%= locale.buttons['wmspreview'] %></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-5 col-lg-3 sld-tree-container">
	  <div class="tree"></div>
	</div>
	<div class="col-sm-6 col-md-7 col-lg-4">
	  <div class="page" id="page"></div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-5">
		<div class="panel editor-panel map-panel">
      		<div class="panel-heading main-heading"><%= locale.common['SLDmap-heading'] %></div>
      		<div class="panel-body">
              	<div id="map" class="map"></div>
      		</div>
  		</div>
	</div>
</div>
