
<div class="view" id="edit-sld">
  <div class="panel panel-primary">
    <div class="panel-heading">SLD Editor</div>
    <div class="panel-body" style="height:800px">
      <form class="edit-sld-form">
        <label>Name</label>
        <input name="Name" type="text" class="name" data-attribute="name" value="<%= SLDmodel.name %>">
        <br>
        <% if (!paramlist) { %>
          <p>Joku kiva käyttöohje</p>
        <% } %>
        <% _.forEach(paramlist, function(param) { %>
          <div class="form-group">
            <label><%= param.name %></label>
            <input name="value" type="text" class="param" data-param-id="<%= param.param_id %>" value="<%= param.value %>">
          </div>
        <% }); %>
        <button type="submit" class="btn save"><%= SLDmodel.id ? 'Update' : 'Create' %></button>
        <% if(SLDmodel.id) { %>
        <input type="hidden" name="id" value="<%= SLDmodel.id %>" />
       <button type="button" data-user-id="<%= SLDmodel.id %>" class="btn btn-danger delete">Delete</button>
       <% }; %>
      </form>
    </div>
  </div>
</div>