<%
  var isAdmin = (userrole && userrole == "ADMIN");
%>

<!--
<div class="btn-toolbar">
-->
	<% if (SLDModel != null) { %>
		<!-- delete sld - only allowed for admin -->
		<div class="btn-group">
			<% if (isAdmin) { %>
				<button id="delete_button" type="button" class="btn btn-default navbar-btn delete" title="<%= SLDlist_i18n.tooltips.deleteTemplate %>" data-id="<%= SLDModel.id %>" data-target="#deleteTemplateModal"><%=SLDlist_i18n.buttons.delete%></button>
			<% } %> 	
			<button id="create_new_config_sld_button" type="button" class="btn btn-default navbar-btn new" title="<%= SLDlist_i18n.tooltips.newConfig %>" data-id="<%= SLDModel.id %>" data-target="#createConfigModal"><%=SLDlist_i18n.buttons.create%></button>
		</div>
		<% if (isAdmin) { %>
			<div class="btn-group">
				<button id="upload_sld_button" type="button" class="btn btn-default navbar-btn" data-toggle="modal" title="<%= SLDlist_i18n.tooltips.uploadSLD %>" data-target="#uploadModal"><%=SLDlist_i18n.texts.upload%></button>
			</div>
		<% } %>





	<% } else if (SLDConfigModel != null) { %>


		<div class="btn-group">
			<button id="delete_button" type="button" class="btn btn-default navbar-btn delete" title="<%= SLDlist_i18n.tooltips.deleteConfig %>" data-id="<%= SLDConfigModel.id %>" data-target="#deleteConfigModal"><%=SLDlist_i18n.buttons.delete%></button>
			<button id="edit_config_button" type="button" class="btn btn-default navbar-btn edit" title="<%= SLDlist_i18n.tooltips.editConfig %>" data-id="<%= SLDConfigModel.id %>"><%=SLDlist_i18n.buttons.edit%></button>
		</div>
		<div class="btn-group">
			<% if (isAdmin) { %>
				<button id="upload_sld_button" type="button" class="btn btn-default navbar-btn" title="<%= SLDlist_i18n.tooltips.uploadSLD %>" data-toggle="modal" data-target="#uploadModal"><%=SLDlist_i18n.texts.upload%></button>
			<% } %>
			<button type="button" class="btn btn-default navbar-btn download" title="<%= SLDlist_i18n.tooltips.downloadSLD %>" data-id="<%= SLDConfigModel.id %>"><%= SLDlist_i18n.buttons.download %></button>
		</div>
	<% } else if (isAdmin) {%>
		<% if (isAdmin) { %>
			<button id="upload_sld_button" type="button" class="btn btn-default navbar-btn" data-toggle="modal" title="<%= SLDlist_i18n.tooltips.uploadSLD %>" data-target="#uploadModal"><%=SLDlist_i18n.texts.upload%></button>
		<% } %>
	<% } %>
<!--
</div>
-->





