<!-- List template -->
<div class="view" id="sld-tree-view">
  <div class="panel panel-primary">
    <div class="panel-heading">SLD Featuretypes</div>
      <div class="panel-body" style="height:800px">
        <% _.forEach(SLDfeaturetypeTree, function(SLDfeatureType) { %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-target="#featuretype-id-<%=SLDfeatureType.id%>"><%= SLDfeatureType.name %></h4>
          </div>
          <div id="featuretype-id-<%=SLDfeatureType.id%>" class="panel-collapse collapse">
            <div class="panel-body">
              <% _.forEach(SLDfeatureType.rules, function(SLDrule) { %>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#rule-id-<%=SLDrule.id%>"><%= SLDrule.title %></h4>
                </div>
                <div id="rule-id-<%=SLDrule.id%>" class="panel-collapse collapse">
                  <div class="panel-body">
                      <% _.forEach(SLDrule.symbolizer_groups, function(symbolizer_group) { %>
                        <button type="button" value="<%=symbolizer_group %>" class="btn btn-primary btn-block sld_param"><%=symbolizer_group %></button>
                      <% }); %>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

