.main
{
    width: 100%;
}

.uploadContainer
{
    border-style: solid;
    border-width: 5px;
}

/* Space out content a bit */

body
{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer
{
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */

.header
{
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3
{
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */

.footer
{
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px)
{
    .container
    {
        max-width: 730px;
    }
}

.container-narrow > hr
{
    margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron
{
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn
{
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */

.marketing
{
    margin: 40px 0;
}

.marketing p + h4
{
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px)
{
/* Remove the padding we set earlier */
    .header,
  .marketing,
  .footer
    {
        padding-right: 0;
        padding-left: 0;
    }
/* Space out the masthead */
    .header
    {
        margin-bottom: 30px;
    }
/* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron
    {
        border-bottom: 0;
    }
}


.navbar-header
{
    margin-left: 30px;
}

.navbar-header h3 {
    display: inline-block;
}

.symbolizer
{
    width: 50%;
    margin-left: 0;
}

.symbolizer-container
{
    width: 50%;
    margin-left: 0;
}
.form-horizontal .form-group
{
    margin-left: 0;
}

/* CUSTOM STYLE for EDITOR PAGE */

.editor-page-header-panel {
    margin-bottom: 10px;
}

.editor-page-header {
    background-color: #0099CB;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

.editor-page-header-body {
    background-color: #2EA9E2;
    padding: 5px;
    padding-left: 10px;
}

.back-to-list {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    float: left;
}

.sld-button-group {
    float: right;
}

.invalid {
    border-color: #CC3333;
}

.invalid-value-error {
    padding-left: 0px;
    padding-top: 7px;
    color: red;
    cursor: pointer;
    width: 5px;
}

/*SLD-tree*/
.sld-tree-container {
    padding-left: 25px;
}

.sld-tree-panel {
    border-radius: 0px;
    margin: 0px;
    border: 1px solid #B8B8B8;
}

.cursor-pointer {
    cursor: pointer;
}

.label-info {
    cursor: pointer;
}

.sld-tree
{
    height: 723px;
    overflow: auto;
    padding: 0px;
}

.panel-heading {
    border-radius: 0px;
}

.container-panel {
    padding: 0px;
}

.editor-panel, .container-panel, .panel.second-level {
    border-color: #B8B8B8;
    border-radius: 0px;
}

.search-input {
    margin-bottom: 10px;
}

.page-title {
    margin-bottom: 15px;
}

.editor-page-title {
    font-family: Arial;
    font-weight: 700;
}

.panel-heading.cursor-pointer.open {
    background-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.panel-heading.cursor-pointer.second-level.open, .panel-heading.cursor-pointer.second-level, .panel-body.second-level {
    background-color: #F3F3F3;
}

.panel-heading.cursor-pointer.second-level.open {
    border-bottom: none;
}

.btn.btn-block.sld_symbolizer {
    border-radius: 0px;
    background-color: #0099CB;
    color: #FFFFFF;
}

.chosen-container {
    width: 100%!important;
    font-size:inherit;
}

/*Symbolizer*/

.main-heading {
    height: 40px;
    background-color: #0099CB;
    font-size: 18px;
    color: #FFFFFF;
}

.symbolizer-attribute-value {
    width: 100px;
}

.symbolizer-attribute-label {
    width: 100px;
    padding: 0;
}

.symbolizer-column {
    margin-left: 0;
    margin-right: 5px;
    width: 100%;
}

.hidden-advanced {
    display: none;
}

.control-label.edit-sld-label {
    text-align: left;
    font-weight: 500;
}

.editor-label {
    font-size: 18px;
}

.editor-label-heading {
    font-size: 20px;
    color: #B8B8B8;
}

.form-group {
    margin-bottom: 10px;
}

.panel-body.sld-editor-page {
    padding-right: 30px;
}

.editor-label.preview-label {
    margin-top: 15px;
}

#preview
{
    min-width: 150px;
    margin-left: 15px;
    margin-bottom: 10px;
    max-height: 150px;
}

.upper-panel {
    height: 500px;
    overflow: auto;
}

.preview-panel {
    height: 230px;
    margin-bottom: 0px;
}

.button-tools {
    margin-left: 15px;
    margin-top: 30px;
}

/*Map panel*/

.map-panel {
    height: 750px;
    margin-bottom: 0px;
}

.map {
    height: 680px;
}



/* SLDList */
.list-group-item {
    cursor: pointer;
}
.list-group-item:hover, .list-group-item:focus {
    font-weight:bold;
}

.list-group-item-config {
    padding-left: 3em;
}

.list-group-item-selected {
    font-weight: bold;
    background-color: #f5f5f5;
}

.panel-heading.sld-list {
    font-weight: bold;
}

.sld-list-signout-link {
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;  
    float:right;
}

.sld-list-button-navbar {
    background-color: #FFFFFF;
}

.navbar-no-border {
    border: none;
    padding-right:30px;
}

.btn-group {
    margin-left: 15px;
}

.btn-group .btn {
    margin-left:5px!important;
    border-radius:4px!important;
}




html, body {
    height:100%;
}


.container-fluid, .container-main {
    height: 100%;
    max-height:100%;
}

.list-panel {
    height: 100%;
    max-height:100%;

}

#sld-list {
    max-height:100%;
    height: 100%;
    overflow: hidden;
}


.sld-list-content-div {
/*    height:80%;*/
    max-height:80%;
    overflow-y:auto;
    overflow-x:hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.sld-list-footer-div {
    height:10%;
    max-height:10%;
    padding-right: 30px;
}



