

.main
{
    width: 100%;
}

.uploadContainer
{
    border-style: solid;
    border-width: 5px;
}

.container-main
{
    margin-top: 50px;
}

/* Space out content a bit */

body
{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer
{
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */

.header
{
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3
{
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */

.footer
{
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px)
{
    .container
    {
        max-width: 730px;
    }
}

.container-narrow > hr
{
    margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron
{
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn
{
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */

.marketing
{
    margin: 40px 0;
}

.marketing p + h4
{
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px)
{
/* Remove the padding we set earlier */
    .header,
  .marketing,
  .footer
    {
        padding-right: 0;
        padding-left: 0;
    }
/* Space out the masthead */
    .header
    {
        margin-bottom: 30px;
    }
/* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron
    {
        border-bottom: 0;
    }
}


.navbar-header
{
    margin-left: 30px;
}

.navbar-header h3 {
    display: inline-block;
}

.back-to-list
{
    margin-bottom: 10px;
    margin-right: 15px;
}

.symbolizer-attribute-value
{
    width: 100px;
}

.symbolizer-attribute-label
{
    width: 100px;
    padding: 0px;
}

.symbolizer-column
{
    margin-left: 0;
    margin-right: 5px;
    width: 100%;
}

.hidden
{
    background-color: #543737;
}

.sld-tree
{
    overflow: auto;
}

.parameter-form
{
    padding-left: 0px;
}

.symbolizer
{
    width: 50%;
    margin-left: 0;
}

.symbolizer-container
{
    width: 50%;
    margin-left: 0;
}
.form-horizontal .form-group
{
    margin-left: 0;
}

.preview
{
    margin-top: 30px;
    min-width: 150px;
}
